---
layout: archive
title: "CV"
permalink: /cv/
author_profile: true
redirect_from:
  - /wordpress/cv/
---


{% include base_path %}
{% capture written_label %}'None'{% endcapture %}

<a style="line-height: 1.5;" href="http://twolfe.github.io/cv_thomas_wolfe.pdf"><span style="color: #333333;"><span style="font-size: medium;">Also available in PDF format.</span></span></a>
<h1 class="western" align="center"><b>Thomas M. Wolfe</b></h1>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;"><b>Curriculum Vitae</b> </span></p>
<p style="line-height: 1.5;" align="center"><span style="font-size: medium;">thomas at  twolfe.github.io | <a href="http://twolfe.github.io">http://twolfe.github.io</a> | <a href="http://www.twitter.com/MupdnW">@t_wolfe</a> | <a href="https://scholar.google.com/citations?user=gEFelJQAAAAJ&hl=en">Google Scholar</a></span></p>

<h2 class="western">Education</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>Ph.D., </b></span><strong><span style="font-size: medium;"><b>Evolutionary Biology. Adaptive potential of Allopolyploidization</b></span></strong><span style="font-size: medium;"><b>, University of Vienna</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> April 2019</span></li>
  <li><b><span style="font-size: medium;">Doctoral Thesis:</b></span><span style="font-size: medium;"> Dactylorhiza Allopolyploidization, from Ecological Differentiation to Molecular Evolution.</span></li>
 	<li><span style="font-size: medium;"><b>Advisor:</b></span><span style="font-size: medium;"> Ass. Prof. Ovidiu Paun, Ass. Prof. Claus Vogl, and Prof. Christian Lexer</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>M.A., Molecular Life Sciences.</b>, <b>University of Lausanne</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date:</b></span></strong><span style="font-size: medium;"> 2014–2015</span></li>
 	<li><span style="font-size: medium;"><b>Master’s Thesis</b>: The long term effect of polyploidisation on transposable element activity.</li</span>
 	<li><span style="font-size: medium;"><b>Advisor: </b></span><span style="font-size: medium;"> <a href="https://www.unil.ch/dee/robinson-rechavi-group">Prof. Marc Robinson-Rechavi</a> and Dr. Sacha Laurent</span></li>
</ul>
</li>
</ul>
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>B.A., Biology,</b> <b>University of Lausanne</b></span>
<ul>
 	<li><strong><span style="font-size: medium;"><b>Date: </b></span></strong><span style="font-size: medium;">2010–2014</span></li>
</ul>
</li>
</ul>
<h2 class="western">Research Interests and Skills</h2>
<!-- Write your comments here
<ul style="line-height: 1.5; margin: 10px 0;">
 	<li><span style="font-size: medium;"><b>Topical:</b> collaboration, socialization, literacy, and governance in distributed, decentralized communities, specifically new/social media platforms and scientific research networks</span></li>
 	<li><span style="font-size: medium;"><b>Disciplinary:</b> social informatics, computer-supported cooperative work (CSCW), science and technology studies (STS), data science studies, critical algorithm studies, media and communication studies, organizational sociology, critical human-computer interaction (HCI)</span></li>
 	<li><span style="font-size: medium;"><b>Theoretical:</b> socio-technical systems, communities of practice, ethnomethodology, symbolic interactionism, distributed cognition, actor-network theory, phenomenology</span></li>
 	<li><span style="font-size: medium;"><b>Methodological:</b></span>
<ul>
 	<li><span style="font-size: medium;">Ethnography, including interviews, focus groups, and participant-observation</span></li>
 	<li><span style="font-size: medium;">Archival analysis, including individual and group-based qualitative coding</span></li>
 	<li><span style="font-size: medium;">Quantitative collection and analysis of log and trace data with Python, SQL, and R</span></li>
 	<li><span style="font-size: medium;">User interface evaluation, including experimental design, A/B testing, and analysis</span></li>
</ul>
</li>
</ul>
<h2>Employment</h2>
<ul style="line-height: 1.5; margin: 10px 0;">
  <li><span style="font-size: medium;"><b>Postdoctoral scholar and staff ethnographer</b>, UC-Berkeley Institute for Data Science (Jan 2016 to present)</span></li>
  <li><span style="font-size: medium;"><b>Research Intern</b>, Wikimedia Foundation (May to August 2011)</span></li>
</ul>
<h2>Summary of Scholarly Impact</h2>
<ul style="line-height: 1.5; margin: 10px 0;">

  <li><span style="font-size: medium;"><b>Publications:</b> 22 publications with 961 total citations, h-index of 15 (Google Scholar)</li>
  <li><span style="font-size: medium;"><b>Presentations:</b> Over 50 talks, including 7 invited talks and 2 conference keynotes</li>
  <li><span style="font-size: medium;"><b>Industry:</b> Scholarship has directly led to new initiatives and redesigned products at Wikimedia</li>
</ul>
-->
<h2>Publications</h2>
  <ul>{% for post in site.articles %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>

<h2>Talks</h2>
  <ul>{% for post in site.talks %}
    {% unless post.talk_type == "Conference proceedings talk" %}
      {% include archive-single-talk-cv.html %}
    {% endunless %}
  {% endfor %}</ul>

<h2>Teaching</h2>
  <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul>
